@import "../../src/css/scss/variable";
// @import "../../src/css/sass/_mixins.scss";
.bullets-inwestycji {
  // padding: 50px 0;
  // @media #{$sm} {
  //   padding: 15px 0px;
  // }
  margin-bottom: 50px;
  .full {
    .wraper {
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      li {
        position: relative;
        text-align: center;
        width: 25%;
        padding: 20px;
        border-right: 1px solid $light;
        background-color: #fff;
        // background: #f7f8fb;
        // background: linear-gradient(43deg, rgb(24, 44, 104, 0.05) 0%, rgb(255, 255, 255) 100%);
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.053);
        &:first-child,
        &:last-child {
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.033);
          z-index: -1;
        }
        @media #{$sm} {
          width: 50%;
          margin: 0px 0;
        }
        // @media #{$xs} {
        //   width: 50%;
        //   margin: 0px 0;
        // }
        img {
          margin: 0 auto;
          margin-bottom: 25px;
        }
        p {
          text-transform: uppercase;
          margin-bottom: 0;
          line-height: inherit;
          font-size: 21px;
          line-height: 28px;
          @media #{$md} {
            font-size: 18px;
            line-height: 22px;
          }
          @media #{$sm} {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
