.posts-wraper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  @media #{$md} {
    grid-template-columns: 1fr 1fr;
  }
  @media #{$sm} {
    grid-template-columns: 1fr;
  }
}
.meta {
  margin-bottom: 20px;
}

body.single-post {
  .entry-header {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    // margin-bottom: 20px;
  }
  .img-wraper {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .entry-content {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    // margin-bottom: 50px;
  }
}
.meta-pub {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.meta-cat {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.meta-com {
  display: flex;
  justify-content: center;
  // margin-bottom: 20px;
  a {
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}
.meta-c {
  > span {
    text-transform: uppercase;
  }
  .meta-cat {
    margin: 0;
  }
  margin-bottom: 20px;
}
.entry-commerts {
  // width: 450px;
  max-width: 100%;
  margin: 0 auto;
  #reply-title {
    font-size: 30px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    @media #{$lg} {
      font-size: 22px;
    }
    @media #{$sm} {
      font-size: 19px;
      // line-height: 11px;
    }
  }
}

.says {
  display: none;
}

// bio
#author-bio {
  margin-top: 30px;
  padding: 20px 20px;
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  display: flex;
  gap: 10px;
  @media #{$sm} {
    flex-wrap: wrap;
  }

  #author-avatar {
    img {
      // border-radius: 100%;
    }
  }
  #author-details {
    .author-head {
      p.h3 {
        font-size: 21px;
        margin-bottom: 10px;
        a {
          text-decoration: none;
        }
      }
    }
    .author-footer {
      font-size: 13px;
    }
  }
}

.kk-ata {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media #{$sm} {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .kk-ata__wraper {
    span {
      display: block;
      font-size: 12px;
      color: $light-black;
      margin-bottom: 5px;
    }
  }
  .kksr-muted,
  .kksr-legend {
    font-size: 12px;
  }
}
